$base-font-size: 100%;

/*body {
  font-size: $base-font-size;
}

.block_content, #mysolar_top_options {
font-size: 1em;
}

#page_title h1, #breadcrumb, .block_title, #mysolar_tabs {
  font-size: 1.2em;
}*/

// 960px - proximo do padrao
@media only screen and (max-width: 1100px) and (orientation: portrait), (-webkit-min-device-pixel-ratio: 1.3) {
//@media only screen and (min-width: 700px ) {
/*  .block_content, #mysolar_top_options {
    font-size: 1em;
  }*/

  #body_wrapper {
    width: 100%;
    //font-size:120%;

    #mysolar_extras{
      height: auto;
    }
  }

  #breadcrumb, #mysolar_tabs{
    //margin-top: 25px;
  }

  .block_title{
    //margin-top: 35px;
  }

  #mysolar_sidebar {
    display: none;
  }
  #mysolar_content, #mysolar_tabs {
    width: 100%;
    padding: 0px 15px 0px 15px;
  }
  .calendar_events{
    max-height: 56px;
  }

  #chatpanel{
    display: none;
  }

  #block_forum {
    overflow: hidden;
  }

  .calendar .ui-datepicker .ui-datepicker-next, .calendar .ui-datepicker .ui-datepicker-prev{
    margin-top: 2px;
  }

  .mysolar_portlets_content{
    height: 300px
  }

  .block_large{
    min-height: 300px;
  }

  .fb-login{
    margin-top: 0px;
  }

  .slide-main, .slide-settings                                                                    {
    height: auto;
    z-index: 0;
  }
}


// 800px - phones até tablets
@media only screen and (max-width: 800px) and (orientation: portrait), (-webkit-min-device-pixel-ratio: 1.3)
//@media	only screen and (-webkit-min-device-pixel-ratio: 1.3),
//only screen and (-o-min-device-pixel-ratio: 13/10),
//only screen and (min-resolution: 120dpi)
{
  body {
    font-size:160%;
  }

  // barra de topo
  #mysolar_identity{
      min-height:50px;
  }

  #mysolar_logo img {
    height: $mysolar_topbar_height * 1.1;
  }

  #mysolar_top_options {
    padding: 5px 10px 0px 0px;
  }

  // conteúdo

  #mysolar_suggestions .btn{
    display: none;
  }

  #mysolar_content {
    margin-bottom: 60px;
  }

  #page_title{
    .block_content_text{
      text-align: right;
    }
  }

  #block_schedules{
    //min-height: 400px;
    //margin-top: 30px;

    .calendar_events{
      max-height: 100px;
    }
  }


  #forum_portlet, #block_schedule{
    width: 50%;
  }

  .block_wrapper, .block_content {
    //margin: 10px 0px 0px 0px;

      .portlet {
      //margin-top: 2.0em;
      margin: 10px 0px 0px;
      width: 50%;

      .block_content {
        max-height: 500px;
      }

      &.portlet_1u, .portlet_3u {
        width: 100%;
        margin-right: 0px;
      }
    }
  }

  #footer {
    padding: 10px 0;
    float: left;
  }
}

// home

  .block_small{
    width: 100%;
  }

 #mysolar_notification_portlet, .block_facebook.block_small.block_to_slide{
    margin-top: 25px;
  }

  .ui-datepicker table{
    margin: auto;
    line-height: auto;
  }

  .block_content, #forum_portlet, #block_schedule, #block_lessons{
    min-height: 320px;
  }



// 480px - phones
@media only screen and (max-width: 400px) and (orientation: portrait), (-webkit-min-device-pixel-ratio: 1.3){

  body {
    font-size: 180%;
  } 

  .block_wrapper {
    .portlet {
      width: 100%;
      margin-top:25px;
    }
  }


  #page_title{
    padding-bottom: 55px;

   .block_content_text{
      text-align: left;
      position: absolute;
      padding: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
  }

  .block_content, #forum_portlet, #block_schedule, #block_lessons {
    width: 100%;
  }

  #block_schedule .block_content {
    max-height: 600px;
  }

  #block_schedule{
    margin-top: 30px;
  }

  .calendar_events{
    min-height: 250px;

    .ui-datepicker table{
      //font-size: 1.2em;
    }
  }
}

// pagina inicial

.block_large{
  width: 100%;
}
